*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

div{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  
}

h1{
  padding: 20px 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(231, 148, 227);
  border-radius: 50px;
  
}
