*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.heading{
  color: darkred;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0px 2px 4px #000000;
  margin: 40px;
}


.img-div{
  display: flex;
  justify-content: center;
}
.img-div img{
  width: 200px;
  height: 150px;
}